@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center ">
    @* <img srcset="/images/logo_black_320.jpg 320w, /images/logo_black_640.jpg 640w"
        sizes="65vw"
        src="/images/logo_black_large.jpg"
        class="responsive-image"
        style="max-height: 600px;"/> *@
        <img src="/images/logo_white.jpg" style="max-width:65vw; max-height: 75vh"/>
</div>